.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width{
    width: 80%;
    margin: auto;
}
.cursor-po{
    cursor: pointer;
}

.Header-gradient{
    background: var(--text-gradient-bg);
    background:var(--text-gradient-1);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}